<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
    <title>Speeder - Your Path Planner Buddy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
	
	// Send data to the ML Model
	function getDriverRoute(){
			$.ajax({
                    'url': '/driver_details',
					'type':'POST',
                    'data': JSON.stringify({'id': 1}),
                    'success': function (data) { 
						console.log(data);

						// Iterate through the locations data and show it on the map.
						$.each(data.locations, function(idx, loc) {
							console.log(loc);							
							addMap(loc.startingPointName, loc.endingPointName, loc.destinations, loc.coordinates, loc.summary);
						});
                    },
					'contentType': "application/json",
                    'dataType': 'json',                   
                });
	}

    document.addEventListener('DOMContentLoaded', function() {
       getDriverRoute();
    }, false);

    </script>
</head>

<body>
<div id="map_container">
    <div id="mapid"></div>
</div>
<script>
			// Dummy Map
			//43.8971° N, 78.8658° 
			var map = L.map('mapid').setView([43.8971, -78.8658], 13);

				L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
					attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
					maxZoom: 18,
					id: 'mapbox/streets-v11',
					tileSize: 512,
					zoomOffset: -1,
					accessToken: 'pk.eyJ1IjoidXRzYXZ2YW5vZGl5YSIsImEiOiJja2xsazd3eGIwMDJjMnBxaXhwYzBpZm96In0.QjSyWKZ0_5O65xlX4cx0qQ'
					}).addTo(map);
		
			// Show markers for starting and ending points.
			var yellowIcon = new L.Icon({
			  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
			  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
			  iconSize: [25, 41],
			  iconAnchor: [12, 41],
			  popupAnchor: [1, -34],
			  shadowSize: [41, 41]
			});
			
			var greenIcon = new L.Icon({
			  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
			  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
			  iconSize: [25, 41],
			  iconAnchor: [12, 41],
			  popupAnchor: [1, -34],
			  shadowSize: [41, 41]
			});
			
			var redIcon = new L.Icon({
			  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
			  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
			  iconSize: [25, 41],
			  iconAnchor: [12, 41],
			  popupAnchor: [1, -34],
			  shadowSize: [41, 41]
			});
		
			var noOfMaps = 1;
			
			function addMap(startingPointName, endingPointName, destinations, coordinates, summary){
			    <!--if (map && map.remove) {-->
                  <!--map.off();-->
                  <!--map.remove();-->
                <!--}-->

			    var mapDiv = document.getElementById('mapid');
				
				var mapDivExists = mapDiv != null;
                
				if(mapDivExists){
					mapDiv.remove();
				}

                var mapContainer = document.getElementById('map_container');
				
				var divId = "map_"+(noOfMaps);
				noOfMaps += 1;

                mapDiv = document.createElement('div');
                mapDiv.setAttribute("id", divId);
                mapDiv.setAttribute("class", "map")

                mapContainer.appendChild(mapDiv);
				
				summaryDiv = document.createElement('div');
                summaryDiv.setAttribute("class", "summary");
				summaryDiv.innerHTML = summary;
				
				mapContainer.appendChild(summaryDiv);

				var map = L.map(divId);

				L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
					attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
					maxZoom: 18,
					id: 'mapbox/streets-v11',
					tileSize: 512,
					zoomOffset: -1,
					accessToken: 'pk.eyJ1IjoidXRzYXZ2YW5vZGl5YSIsImEiOiJja2xsazd3eGIwMDJjMnBxaXhwYzBpZm96In0.QjSyWKZ0_5O65xlX4cx0qQ'
					}).addTo(map);

					var startingPoint = L.marker(coordinates[0], {icon: greenIcon}).addTo(map);
					startingPoint.bindPopup("<b>"+startingPointName+"</b>").openPopup();

					var endPoint = L.marker(coordinates[coordinates.length - 1], {icon: redIcon}).addTo(map);
					endPoint.bindPopup("<b>"+endingPointName+"</b>").openPopup();

					var polyline = L.polyline(coordinates, {color: '#548eeb', weight:5}).addTo(map);

					//var i;
					//for (i = 0; i < destinations.length; i++) {
					//  var dest = L.marker(destinations[latlngs.length - 1], {icon: redIcon}).addTo(map);
					//	endPoint.bindPopup("<b>"+endingPointName+"</b>").openPopup();
					//}

					for(j = 0; j < destinations.length; j++){
                        const keys = Object.keys(destinations[j]);

                        for (let i = 0; i < keys.length; i++) {
                              const key = keys[i];
                              coords = destinations[j][key];
                              console.log(key, coords[0], coords[1]);
							  var dest = L.marker(coords, {icon: yellowIcon}).addTo(map);
							  dest.bindPopup("<b>"+(j+1)+". "+key+"</b>").openPopup();
                        }
                    }
					
					// zoom the map to the polyline
					map.fitBounds(polyline.getBounds());
			}
</script>
</body>
</html>